<h2 class="page-header"><%= @user.full_name %></h5>

<h4>Stocks</h4>
<% if @user.stocks.any? %>
	<%= render "stock/list" %>
<% else %>
<p> <%= "#{@user.full_name} hasn't followed any stocks yet." %> </p>
<% end %>

<h4>Friends</h4>
<% if @friends.any? %>
	<% @friends.each do |friend| %>
		<p><%= link_to friend.full_name, user_path(friend) %></p>
	<% end %>
<% else %>
	<p> <%= "#{@user.full_name} hasn't added any friends yet." %> </p>
<% end %>

<%= link_to "Back", my_friends_path, class: "btn btn-primary" %>
